<h2></h2>

<form
  action=" <%= '/references/' + ref.eventID + '/edit' %>"
  method="POST"
>
  <div>
    <label class="form-label">
      Event Name:
      <input
        class="form-control"
        type="text"
        name="eventName"
        value="<%= ref.eventName %>"
      />
    </label>
  </div>
  <div>
    <label class="form-label">
      Description:
      <input
        class="form-control"
        type="text"
        name="eventDescription"
        value="<%= ref.eventDescription %>"
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      Date:
      <input
        class="form-control"
        type="date"
        name="date"
        value="<%= ref.date %>"
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      Time:
      <input
        class="form-control"
        type="text"
        name="time"
        value="<%= ref.time %>"
      />
    </label>
  </div>


  <button type="submit" class="btn btn-primary">Edit</button>
  <a
    class="btn btn-danger"
    href="<%= '/references/' + ref.eventID + '/delete' %>"
    >Delete</a
  >
</form>
