<h2>Venues</h2>

<% if (venues.length > 0) { %>
  <div class="row g-3">
    <% for (let venue of venues) { %>
    <div class="col-4">
      <div class="card p-1">
        <h5 class="card-title"><%= venue.venueName %></h5>
        <div class="card-text">
          <div>Location: <%= venue.location %></div>
          <div>Capacity: <%= venue.capacity %> </div>
          <div>Policies: <%= venue.policies %></div>
          <div>Availability Status: <%= venue.availabilityStatus %></div>
          <div>Person Responsible: <%= venue.personResponsible %></div>
          <div>
            <a
              class="btn btn-outline-primary"
              href="<%= '/authors/' + venue.venueID + '/edit' %>"
              >Edit</a
            >
            <a
              class="btn btn-outline-danger"
              href="<%= '/authors/' + venue.venueID + '/delete' %>"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
<% } else { %>
  <div class="alert alert-warning">No Venues found for this page.</div>
<% } %>

<%- include("./pagination.ejs", { baseUrl: '/authors', currentPage, lastPage }) %>
