<br />
<h2 class="mb-4 text-primary">Event Listings</h2>
<% if (references.length === 0) { %>
  <div class="alert alert-primary">No Events found</div>
<% } %>

<div class="row g-3">
  <% for (let ref of references) { %>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card h-100 p-2 shadow-sm">
        <h5 class="card-title text-truncate"><%= ref.eventName || 'Unknown Event' %></h5>
        <div class="card-body">
          <p class="card-text">
            <% if (ref.eventDescription) { %>
              <div class="text-wrap">Description: <%= ref.eventDescription %></div>
            <% } else { %>
              <div>Description not specified</div>
            <% } %>
          </p>

          <% if (ref.date) { %>
            <div>Date: <%= ref.date %></div>
          <% } else { %>
            <div>Date not specified</div>
          <% } %>

          <% if (ref.time) { %>
            <div>Time: <%= ref.time %></div>
          <% } else { %>
            <div>Time not specified</div>
          <% } %>

          <% if (ref.rsvpDeadline) { %>
            <div>RSVP Deadline: <%= ref.rsvpDeadline %></div>
          <% } else { %>
            <div>RSVP Deadline not specified</div>
          <% } %>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <a class="btn btn-outline-primary btn-sm" href="<%= '/references/' + ref.eventID + '/edit' %>">Edit</a>
          <a class="btn btn-outline-danger btn-sm" href="<%= '/references/' + ref.eventID + '/delete' %>">Delete</a>
        </div>
      </div>
    </div>
  <% } %>

  <%- include("./pagination.ejs", { baseUrl: '/references', currentPage, lastPage }) %>
</div>
