<br />
<h2>Venue Listings</h2>
<% if (references.length === 0) { %>
<div class="alert alert-primary">No venues found</div>
<% } %>
<div class="row g-3">
  <% for (let ref of references) { %>

  <div class="col-4">
    <div class="card p-1">
      <h5 class="card-title"><%= ref.venueName || 'Unknown Venue' %></h5>
      <div class="card-text">
        <% if (ref.location) { %>
          <div>Location: <%= ref.location %></div>
        <% } else { %>
          <div>Location not specified</div>
        <% } %>
        
        <% if (ref.capacity) { %>
          <div>Capacity: <%= ref.capacity %></div>
        <% } else { %>
          <div>Capacity not specified</div>
        <% } %>
        
        <% if (ref.policies) { %>
          <div>Policies: <%= ref.policies %></div>
        <% } else { %>
          <div>Policies not available</div>
        <% } %>
        
        <% if (ref.availabilityStatus) { %>
          <div>Status: <%= ref.availabilityStatus %></div>
        <% } else { %>
          <div>Status unknown</div>
        <% } %>

        <br />
        
        <% if (ref.personResponsible) { %>
          <div><i>For further inquiries contact <%= ref.personResponsible %></i></div>
        <% } else { %>
          <div><i>Point of Contact Not Assigned</i></div>
        <% } %>
        <div>
          <a
            class="btn btn-outline-primary"
            href="<%= '/references/' + ref.venueID + '/edit' %>"
            >Edit</a
          >
          <a
            class="btn btn-outline-danger"
            href="<%= '/references/' + ref.venueID + '/delete' %>"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>

  <% } %> <%- include("./pagination.ejs", { baseUrl: '/references', currentPage, lastPage }) %>
</div>
